<div class="main-div">
  <h1 class="white center">Welcome to ACS</h1>
  <h3 class="white center">Automatic Card Scanner</h3>

  <button class="selected-button" (click)="GoToAccDevice()">Go To Your Device</button>
  <hr />

  <h2 class="white center">How it Works</h2>
  <div class="panel-div-large left">
    <h2>Step 1</h2>
    <ul class="center white">
      <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;Connect Your Device with the unique ID</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large left">
    <h2>Step 2</h2>
    <ul class="center white">
      <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;Place Up-To 100 Cards in the Tray</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large  left">
    <h2>Step 3</h2>
    <ul class="center white">
      <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;Start Your Device</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large  left">
    <h2>Step 4</h2>
    <ul class="center white">
      <li><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;Watch the Cards being Scanned in Real-Time!</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>
</div>
<div class="clear"></div>

<div class="form-div">
  <h2 class="center">Connect with Your ACC Device</h2>
  <input [(ngModel)]="AccConnectionString" class="form-input" placeholder="ACC Connection String goes here..."/>
  <p class="feedback-text margin-left-30">{{feedback_connect}}</p>
 
  <button (click)="connect()" class="selected-button margin-left-30">Connect</button>
  <button class="selected-button" (click)="GoToAccDevice()">Go To Your Device</button>
</div>

<div>
  <br /><br />
  <h2 class="center">Send Images to Test ACC</h2>
  <div>
    <h2 class="center">Choose one or more Images</h2>
    <input multiple="multiple" class="form-input white" type="file" id="filePicker" (change)="ocr.selectFile_withoutOCR($event)">
    <br /><br />
    <div *ngIf="!ocr.cardNameLoaded">
      <img class="center-img" src="assets/LoadingGif4.gif" />
    </div>

    <div *ngIf="ocr.cardNameLoaded">
      <img class="center-img" [src]="ocr.imageSrc" width="200" />
      <br />
      <br />
      <button class="selected-button-large" (click)="ocr.POST_CardToACC()">Confirm</button>4
      <p class="feedback-text margin-left-30 font-size-30">{{ocr.feedback_upload}}</p>
    </div>
  </div>
  <br />
  <br />
</div>
