<div class="main-div">
  <h1 class="white center">Welcome to ACC</h1>
  <h3 class="white center">Automatic Card Categorizer</h3>
  <h2 class="white">How it Works</h2>
  <div class="panel-div-large left">
    <h2>Step 1</h2>
    <ul class="center white">
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Connect Your Device with the unique ID</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large left">
    <h2>Step 2</h2>
    <ul class="center white">
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Place Up-To 100 Cards in the Tray</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large  left">
    <h2>Step 3</h2>
    <ul class="center white">
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Start Your Device</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>

  <div class="panel-div-large  left">
    <h2>Step 4</h2>
    <ul class="center white">
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Upload to Your Account via any Browser</li>
    </ul>
    <img class="gif-image" src="assets/LoadingGif4.gif" />
  </div>
</div>
