<div class="form-div" *ngIf="addSellListing">
  <h2 class="center white">Select Card(s) to Sell:</h2>
  <table class="list-table-center-small">
    <thead>
      <tr>
        <th></th>
        <th>Name:</th>
        <th>Set:</th>
        <th>Condition:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of cards">
        <td><input class="checkbox-input" type="checkbox" /></td>
        <td>{{items.cardName}}</td>
        <td>{{items.cardSet}}</td>
        <td>{{items.cardCondition}}</td>        
      </tr>
    </tbody>
  </table>
  <button class="login-button">Add</button>
</div>
<!--
<div *ngIf="!tableLoaded">
  <img class="center-img" src="assets/LoadingGif4.gif" />
</div>
-->
<div class="main-div" (click)="closeMenu()"> <!--*ngIf="tableLoaded">-->
  <div class="panel-list-div">
    <h2>Sell Orders</h2>
  </div>
  <a class="plusSquare" (click)="toggleAdd()">
    <p class="fa fa-plus-square">
    </p>&nbsp;Add Sell Listing
  </a>
  <br />
    <a class="selected-a">Popular Cards</a>
    <a class="selected-a">Newly Listed</a>
    <a class="selected-a">Filter Options</a>
    <input type="text" placeholder="Search by Card Name"/>
  <br />
  <br />
    <table class="list-table-center">
      <thead>
        <tr>
          <th>Seller:</th>
          <th>Rating:</th>
          <th>Card Name:</th>
          <th>Set:</th>
          <th>Condition:</th>
          <th>Price:</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of sellListings; let i = index" [attr.data-index]="i">
          <td>{{userName[i]}}</td>
          <td>{{rating[i]}}</td>
          <td>{{items.cardName}}</td>
          <td>{{cardSet[i]}}</td>
          <td>{{cardCondition[i]}}</td>
          <td>$ {{items.sellPrice}}</td>
          <td><button>Buy</button></td>
        </tr>
      </tbody>
    </table>
</div>
