<app-collection *ngIf="addSellListing"></app-collection>
<div class="main-div" (click)="closeMenu()">
  <h2 class="white">Sell Listings</h2>
  <button class="selected-button left" (click)="toggleAdd()">
    <p class="fa fa-plus">
    </p>&nbsp;Add Sell Listing
  </button>
    <select (change)="searchChange($event.target.value)">
      <option value="name">Card Name</option>
      <option value="set">Card Set</option>
      <option value="condition">Card Condition</option>
    </select>
    <input class="selected-input" type="text" placeholder="Search" (keyup.enter)="search()" [(ngModel)]="searchObject"/>
  
  <br />
  <br />
    <table class="list-table-center">
      <thead>
        <tr>
          <th></th>
          <th>Seller:</th>
          <th>Sellers Rating:</th>
          <th>Card Name:</th>
          <th>Card Set:</th>
          <th>Condition:</th>
          <th>Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of sellListings; let i = index" [attr.data-index]="i">
          <td class="center"><button class="table-button" (click)="buyCard(items.sellId)">Buy</button></td>
          <td>{{items.userName}}</td>
          <td>{{items.rating}}</td>
          <td>{{items.cardName}}</td>
          <td>{{items.cardSet}}</td>
          <td>{{items.cardCondition}}</td>
          <td><i class="fa fa-gg" aria-hidden="true"></i> {{items.sellPrice}}</td>          
        </tr>
      </tbody>
    </table>
</div>
