<div class="main-div" (click)="closeMenu()">
  <div *ngIf="options">
    <button class="option-button" (click)="addToDB()">Add</button>
    <button class="option-button" (click)="removeFromDB()">Remove</button>
  </div>
  <div *ngIf="!options">
    <button (click)="Options()">Options</button>

  </div>  
    <div *ngIf="Remove">
      
      <label for="filePicker">Choose or drag a file:</label><br>
      <input type="file" id="filePicker" (change)="handleFileSelect($event)">
      
      <hr />
      <p>
        Name: {{cardName}}
        <!--
        <button class="sendButton" (click)="goToDetails()">Send</button>
-->
      </p>
      <hr />
      <img [src]="imageSrc" width="300"/>
      <hr />
      <p>Click row to remove from collection</p>
      <table class="listTable">
        <thead>
          <tr>
            <th>Card Name</th>
            <th>Card Set</th>
            <th>Card Condition</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of cardList" (click)="DelFromDB(items.cardId)" class="delDb">
            <td>{{items.cardName}}</td>
            <td>{{items.cardSet}}</td>
            <td>{{items.cardCondition}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

<div *ngIf="Add" class="form-div">
  <h2 class="center">Choose an image or take a photo:</h2>
  <input class="form-input" type="file" id="filePicker" (change)="handleFileSelect($event)">
  <br /><br />
  <h2 class="center">Fill in the Form below:</h2>
  <input class="form-input" type="text" [(ngModel)]="cardSet" placeholder="set name, eg: TMP" /> <br /><br />
  <input class="form-input" type="text" [(ngModel)]="cardCondition" placeholder="condition, eg: EX, NM" /><br /><br />

  <div *ngIf="!cardNameLoaded">
    <img class="center-img" src="assets/LoadingGif3.gif" />
  </div>

  <div *ngIf="cardNameLoaded">
    <h2 class="center">Card Name: {{cardName}}</h2>
    <button class="login-button" (click)="SendToDB()">Add</button>
  </div>
</div>
