body {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Arvo', serif;
}

img {
  margin-top: 50px;
  margin-left: 50px;
}

button.sendButton {
  font-size: 20px;
  margin-left: 10%;
  margin-top: 10px;
  display: block;
  border-width: 5px;
  border-radius: 10px;
  background: white;
  color: gray;
  padding: 0px 5px 0px 5px;
}

  button.sendButton:hover {
    color: white;
    background: gray;
    cursor: pointer;
  }

button.optionButton {
  font-size: 50px;
  width: 60%;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  border-width: 20px;
  border-radius: 10px;
  background: lightgray;
  color: white;
  padding: 0px 5px 0px 5px;
}

  button.optionButton:hover {
    color: white;
    background: gray;
    cursor: pointer;
  }

table {
  border-style: solid;
  border-color: gray;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
  font-size: 22px;
  padding-left: 5px;
  color: white;
  background: gray;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

td {
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  border-bottom: solid;
  border-color: gray;
}

tr:hover {
  background: lightgray;
  color: white;
}

tr.delDb:hover {
 cursor: pointer;
}

@media screen and (max-width: 800px)
{
  img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

