<div class="main-div" (click)="closeMenu()">
  <div class="box">
    <img class="detail-img left" [src]="cardImage" />

    <table class="list-table-center-small">
      <thead>
        <tr>
          <th>Seller</th>
          <th>Sellers Rating</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>      
      <tbody>
        <tr *ngFor="let items of sellListing; let i = index" [attr.data-index]="i">
          <td>{{sellerList[i]}}</td>
          <td>{{sellerRating[i]}}</td>
          <td>{{items.sellPrice}}</td>
          <td class="center"><button class="table-button">Buy</button>
          <button class="table-button" (click)="AddToWishlist()" >Wishlist</button></td>
        </tr>
      </tbody>
    </table>

    <div class="clear"></div>
    <br />
    <h2>Card Information</h2>
    <table class="list-table-center">
      <tr>
        <th class="vertical-th">Name</th>
        <td>{{cardName}}</td>
      </tr>
      <tr>
        <th class="vertical-th">Set Name</th>
        <td>{{cardSet}}</td>
      </tr>
      <tr>
        <th class="vertical-th">Rarity</th>
        <td>{{cardRarity}}</td>
      </tr>
      <tr>
        <th class="vertical-th">Type</th>
        <td>{{cardType}}</td>
      </tr>
      <tr>
        <th class="vertical-th">Text</th>
        <td>{{cardText}}</td>
      </tr>
      <tr>
        <th class="vertical-th">All Sets</th>
        <td><a *ngFor="let items of cardSets" (click)="GoToOtherSet(items)"> <i class="ss ss-{{items}} ss-grad ss-2x"></i> {{items}} | </a></td>
      </tr>      
    </table>
      
    <div class="clear"></div>
    <br />
    <h2>Rulings</h2>
    <table class="list-table-center">
        <tr>
          <th class="rulingsHead">Date</th>
          <th class="rulingsHead">Text</th>
        </tr>
        <tr *ngFor="let items of rulings">
          <td>{{items.date}}</td>
          <td>{{items.text}}</td>
        </tr>
    </table>
  </div>
</div>
