.box {
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
}

.cardImg {
  width: 40%;
  float:left;
}

table {
  border-style: solid;
  float:right;
  width:50%;
}

th {
  font-size: 18px;
  padding-left: 15px;
  padding-right:15px;
  color: white;
  background: gray;
  border-style:solid;
  border-color:white;
  border-width: 1px;

}

td {
  font-size: 15px;
  font-weight:500;
  padding-left: 15px;
  border-bottom: solid;
  border-color: gray;
}

@media screen and (max-width: 1200px)
{
  .cardImg{
    width: 300px;
  }
}

