<body (click)="closeMenu()">
  <div class="box">
    <img class="cardImg" [src]="cardImage" />

    <table class="priceTable">
      <thead>
        <tr>
          <th>
            Price Information
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img class="graphImg" src="assets/NoImageFoundWide.png" />
            
            <p class="priceText">Suggested Sale Price:</p>

            <p class="price">$ {{cardPrice}}</p>
            <button class="priceButton">Buy</button>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="clear"></div>

    <h2 class="tableHeader">Card Information</h2>
    <table class="cardTable">      
      <tr class="tableRow">
        <th class="tableHead">Name</th>
        <td class="tableText">{{cardName}}</td>
      </tr>
      <tr class="tableRow">
        <th class="tableHead">Set Name</th>
        <td class="tableText">{{cardSet}}</td>
      </tr>
      <tr class="tableRow">
        <th class="tableHead">Rarity</th>
        <td class="tableText">{{cardRarity}}</td>
      </tr>
      <tr class="tableRow">
        <th class="tableHead">Type</th>
        <td class="tableText">{{cardType}}</td>
      </tr>
      <tr class="tableRow">
        <th class="tableHead">Text</th>
        <td class="tableText">{{cardText}}</td>
      </tr>
    </table>

    <div class="clear"></div>

    <h2 class="tableHeader">Rulings</h2>
    <table class="rulingsTable">
        <tr>
          <th>Date</th>
          <th>Text</th>
        </tr>
        <tr *ngFor="let items of rulings">
          <td>{{items.date}}</td>
          <td>{{items.text}}</td>
        </tr>
    </table>
  </div>
</body>
