
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-shm
Web Application/CardStocks/CardStocks/obj/project.assets.json
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.pdb
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.pdb
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.dll
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.csproj.CoreCompileInputs.cache
Web Application/CardStocks/CardStocks/obj/project.assets.json
Web Application/CardStocks/CardStocks/obj/Debug/netcoreapp2.0/CardStocks.pdb
Web Application/CardStocks/CardStocks/obj/Debug/netcoreapp2.0/CardStocks.dll
Web Application/CardStocks/CardStocks/obj/Debug/netcoreapp2.0/CardStocks.csproj.FileListAbsolute.txt
Web Application/CardStocks/CardStocks/obj/Debug/netcoreapp2.0/CardStocks.csproj.CoreCompileInputs.cache
Web Application/CardStocks/CardStocks/obj/CardStocks.csproj.nuget.cache
Web Application/CardStocks/CardStocks/bin/Release/netcoreapp2.0/CardStocks.pdb
Web Application/CardStocks/CardStocks/bin/Release/netcoreapp2.0/CardStocks.dll
Web Application/CardStocks/CardStocks/bin/Debug/netcoreapp2.0/CardStocks.runtimeconfig.dev.json
Web Application/CardStocks/CardStocks/bin/Debug/netcoreapp2.0/CardStocks.pdb
Web Application/CardStocks/.vs/config/applicationhost.config
Web Application/CardStocks/.vs/config/applicationhost.config
Web Application/CardStocks/CardStocks/bin/Debug/netcoreapp2.0/CardStocks.runtimeconfig.dev.json
Web Application/CardStocks/CardStocks/bin/Release/netcoreapp2.0/CardStocks.runtimeconfig.dev.json
Web Application/CardStocks/CardStocks/obj/CardStocks.csproj.nuget.g.props
Web Application/CardStocks/CardStocks/obj/Debug/netcoreapp2.0/CardStocks.csproj.FileListAbsolute.txt
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.csproj.CoreCompileInputs.cache
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.csproj.FileListAbsolute.txt
Web Application/CardStocks/CardStocks/obj/Release/netcoreapp2.0/CardStocks.csprojResolveAssemblyReference.cache
Web Application/CardStocks/.vs/CardStocks/v15/.suo
