
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-shm
Web Application/CardStocks/CardStocks/obj/project.assets.json
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/.suo
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/Server/sqlite3/storage.ide-wal
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-shm
Web Application/CardStocks/.vs/CardStocks/v15/sqlite3/storage.ide-wal
