/*
body {
  margin-bottom: 200px;
}

.mainBox {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

input.addCardItem {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

.addCI {
  margin-left: 20%;
  margin-bottom: 10px;
}

button.addCardButton {
  font-size: 20px;
  margin-left: 20%;
  display: block;
  border-width: 5px;
  border-radius: 10px;
  background: white;
  color: gray;
  padding: 0px 5px 0px 5px;
}

button.addCardButton:hover {
  color: white;
  background: gray;
  cursor: pointer;
}

.sideBox {
  background: lightgray;
  width: 20%;
  min-width: 225px;
  position: fixed;
  height: 100%;
  margin-top: -50px;
}

a.addColButton {
  margin-left: 5%;
  font-size: 18px;
  padding: 10px;
  color: gray;
  text-decoration: none;
}

.colField {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

a.addColButton:hover {
  cursor: pointer;
}

table.collections {
  margin-top: 10px;
  width: 80%;
  margin-left: 5%;
}

th {
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: gray;
}

td {
  color: gray;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  border-bottom: solid;
  border-color: gray;
  border-width: 1px;
}

p.boxViewImg {
  
}

p.boxViewImg:hover {
  cursor: pointer;
  color: black;
}

td.colClick:hover {
    background: gray;
    color: white;
    cursor: pointer;
}

td.boxViewItem {
  color: inherit;
}

tr.rowCards:hover {
  cursor: pointer;
  color: white;
  background: lightgray;
}

table.overview {
  margin-top: 10px;
  width: 80%;
  margin-left: 5%;
}


table.boxView {
  width: 100%;
  margin-top: 20px;
}

th.boxViewHead {
  background: gray;
  font-size: 24px;
}

a.plusSquare {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 24px;
  color: gray;
}

.fa-sort {
  color: white;
}

.fa-sort:hover {
  cursor: pointer;
  color: black;
}

a.plusSquare:hover {
  cursor: pointer;
  color: black;
}

a.fa-th-large {
  font-size: 40px;
  float: right;
  color: gray;
}

a.fa-th-large:hover {
  cursor: pointer;
}

a.fa-list {
  font-size: 40px;
  float: right;
  margin-left: 10px;
  color: gray;
}

a.fa-list:hover {
  cursor: pointer;
}

td.tileItem {
  border: none;
}

div.hoverImgDiv {
  position: fixed;
  right: auto;
  top: 10%;
  left: 15%;
  bottom: 0;
  z-index: 9999;
}

img.tileImg {
  padding: 1px;
  -webkit-transition: all .1s ease; /* Safari and Chrome 
  -moz-transition: all .1s ease; /* Firefox 
  -o-transition: all .1s ease; /* Opera 
  transition: all .1s ease;
}

  img.tileImg:hover {
    cursor: pointer;
    -webkit-transform: scale(2); /* Safari and Chrome 
    -moz-transform: scale(2); /* Firefox 
    -ms-transform: scale(2); /* IE 9 
    -o-transform: scale(2); /* Opera 
    transform: scale(2)
  }


  img.hoverImg {
    display: none;
  }

  span:hover + img{
    display: block;
  }

  a.boxClick {
    color: black;
  }
  
  a.boxClick:hover {
    text-decoration: underline;
    color: white;
  }

a.fa-plus-square:hover {
  cursor: pointer;
  color: black;
}

input.searchIn {
  padding-left: 10px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  border-radius: 5px;  
}

div.addCardBox {
  margin-top: 0;
  background: lightgray;
  padding-bottom: 10px;
}

  */


