<div class="form-div" *ngIf="addingCard">
  <h2 class="center white">Fill in form:</h2>
  <input class="form-input" type="text" placeholder="Name: eg. Lotus Petal" [(ngModel)]="cName" />
  <input class="form-input" type="text" placeholder="Set: eg. Tempest" [(ngModel)]="cSet" />
  <input class="form-input" type="text" placeholder="Condition: NM, PL, HP, DM" [(ngModel)]="cCondition" />
  <br />
  <br />
  <h2 class="center white">Upload an Image of the Card(optional)</h2>
  <input class="form-input" type="file" id="filePicker" (change)="handleFileSelect($event)">

  <button class="login-button" (click)="addCard()">Add</button>
</div>

<div class="main-div" (click)="closeMenu()">

  <h2>Haves</h2>
  <!--
    
  <app-show-image [@showImage]="dataservice.showImage"></app-show-image>

  <div class="sideBox">
    <table class="overview">
      <thead>
        <tr>
          <th>Overview</th>
        </tr>
      </thead>
    </table>

    <table class="collections">
      <thead>
        <tr>
          <th>Collections</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of collections">
          <td class="colClick" (click)="sendColItem(items.collectionID)">{{items.collectionName}}</td>
        </tr>
      </tbody>
    </table>
    <input class="colField" type="text" placeholder="collection name" [(ngModel)]="collectionName" />
    <a class="fa fa-plus-square" (click)="addCollection()">&nbsp;&nbsp;Add Collection</a>
  </div>
  
  <div *ngIf="hoverImage" class="hoverImgDiv">
    <img width="300" src={{imageSource}} />
  </div>
      -->
  <div class="mainBox">

    <a class="plusSquare" (click)="toggleAddCard()"><i class="fa fa-plus-square"></i>&nbsp;Add Card</a>
    &nbsp;&nbsp;
    <a class="plusSquare" (click)="exportCards()"><i class="fa fa-sign-out"></i>Export</a>
    
    <a [style.color]="getColorList()" (click)="toggleListView()" class="fa fa-list right"></a>
    <a [style.color]="getColorTile()" (click)="toggleTileView()" class="fa fa-th-large right"></a>

    <div class="clear"></div>
    <hr />
    <!-- Search
    <input class="form-input" type="text" placeholder="search card in collection" [(ngModel)]="cNameSearch" />
    <button (click)="searchCard()" class="login-button">Search</button>
    <a (click)="searchBy('name')">Name</a>
    <a (click)="searchBy('set')">Set</a>
    <a (click)="searchBy('condition')">Condition</a>
    <hr />
        -->
    <div *ngIf="listView">
      
      <table class="list-table-center" id="myTable">
        <thead>
          <tr>
            <th class="boxViewHead"></th>
            <th class="boxViewHead"><i class="fa fa-sort" (click)="sortByName()"></i>&nbsp;Name</th>
            <th class="boxViewHead"><i class="fa fa-sort" (click)="sortBySet()"></i>&nbsp;Expansion</th>
            <th class="boxViewHead"><i class="fa fa-sort" (click)="sortByCondition()"></i>&nbsp;Condition</th>
            <th class="boxViewHead"></th>
            <th class="boxViewHead"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of cards" >
            <td (click)="sendCardItem(items.cardId)"><p class="fa fa-file-image-o boxViewImg" (mouseenter)="mouseHoverEnter(items.cardId)" (mouseleave)="mouseHoverExit()"></p></td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardName}}</td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardSet}}</td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardCondition}}</td>
            <td class="boxViewItem">
            <a class="boxClick" (click)="removeCard(items.cardId)">remove </a> | <a class="boxClick" (click)="editCard(items.cardId)"> edit</a>
            </td>
            <td>
              <a class="boxClick" (click)="sellCard(items.cardId, items.cardName)">Sell</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!listView">
        <img *ngFor="let items of cards" src={{items.imgBase64}} class="tileImg" width="230" height="300"/>       
    </div>

  </div>
</div>
