<body (click)="closeMenu()">

  
  <!--
    
  <app-show-image [@showImage]="dataservice.showImage"></app-show-image>

  <div class="sideBox">
    <table class="overview">
      <thead>
        <tr>
          <th>Overview</th>
        </tr>
      </thead>
    </table>

    <table class="collections">
      <thead>
        <tr>
          <th>Collections</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of collections">
          <td class="colClick" (click)="sendColItem(items.collectionID)">{{items.collectionName}}</td>
        </tr>
      </tbody>
    </table>
    <input class="colField" type="text" placeholder="collection name" [(ngModel)]="collectionName" />
    <a class="fa fa-plus-square" (click)="addCollection()">&nbsp;&nbsp;Add Collection</a>
  </div>
  -->
  <div *ngIf="hoverImage" class="hoverImgDiv">
    <img width="500" src={{imageSource}} />
  </div>

  <div *ngIf="!addingCard" class="addCardBox">
    <input class="addCardItem" type="text" placeholder="Name: eg. Lotus Petal" [(ngModel)]="cName" />
    <br /><input class="addCardItem" type="text" placeholder="Set: eg. Tempest" [(ngModel)]="cSet" />
    <br /><input class="addCardItem" type="text" placeholder="Condition: NM, PL, HP, DM" [(ngModel)]="cCondition" />
    <label class="addCI" for="filePicker">Upload an Image:</label><br>
    <input class="addCI" type="file" id="filePicker" (change)="handleFileSelect($event)">

    <button class="addCardButton" (click)="addCard()">Add</button>
  </div>

  <div class="mainBox">

    <a class="fa fa-plus-square" (click)="toggleAddCard()">&nbsp;Card</a>
    
    <a [style.color]="getColorList()" (click)="toggleListView()" class="fa fa-list"></a>
    <a [style.color]="getColorTile()" (click)="toggleTileView()" class="fa fa-th-large"></a>

    <div class="clear"></div>
    <hr />
    <input class="searchIn" type="text" placeholder="search card in collection" [(ngModel)]="cNameSearch" (ngModelChange)="searchCard()" />
    <hr />
    <div *ngIf="listView">
      
      <table class="boxView">
        <thead>
          <tr>
            <th class="boxViewHead"></th>
            <th class="boxViewHead">Name</th>
            <th class="boxViewHead">Expansion</th>
            <th class="boxViewHead">Condition</th>
            <th class="boxViewHead"></th>
            <th class="boxViewHead"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of cards" class="rowCards" >
            <td (click)="sendCardItem(items.cardId)"><p class="fa fa-file-image-o boxViewImg" (mouseenter)="mouseHoverEnter(items.cardId)" (mouseleave)="mouseHoverExit()"></p></td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardName}}</td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardSet}}</td>
            <td (click)="sendCardItem(items.cardId)" class="boxViewItem">{{items.cardCondition}}</td>
            <td class="boxViewItem">
            <a class="boxClick" (click)="removeCard(items.cardId)">remove </a> | <a class="boxClick" (click)="editCard(items.cardId)"> edit</a>
            </td>
            <td>
              <a class="boxClick" (click)="sellCard(items.cardId, items.cardName)">Sell</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!listView">
        <img *ngFor="let items of cards" src={{items.imgBase64}} class="tileImg"/>       
    </div>

  </div>
</body>
