.mainBox {
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 50px;
}

.sideBox {
  background: lightgray;
  width: 20%;
  min-width: 225px;
  position: fixed;
  height: 100%;
  margin-top: -50px;
}

a.addColButton {
  margin-left: 5%;
  font-size: 18px;
  padding: 10px;
  color: gray;
  text-decoration: none;
}

.colField {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

a.addColButton:hover {
  cursor: pointer;
}

table.collections {
  margin-top: 10px;
  width: 80%;
  margin-left: 5%;
}

th {
  font-size: 35px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: gray;
}

td {
  color: gray;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  border-bottom: solid;
  border-color: gray;
  border-width: 1px;
}

td:hover {
    background: gray;
    color: white;
    cursor: pointer;
}

table.overview {
  margin-top: 10px;
  width: 80%;
  margin-left: 5%;
}


table.boxView {
  width: 100%;  
}

th.boxViewHead {
  background: gray;
  font-size: 24px;
}

a.fa-plus-square {
  padding-left: 15px;
  font-size: 24px;
  color: gray;
}

a.fa-plus-square:hover {
  cursor: pointer;
}
