div.header {
  background-color: gray;
  padding-left: 10%;
  height: 80px;  
}

div.searchBox {
  background: darkgray;
  height: 50px;
  padding: 10px;
  text-align: center;
}

a.logo {
  font-size: 50px;
  float: left;
  color: white;
}

a.logo:hover {
  cursor: pointer;
  color: lightgray;
}

a.login {
  font-size: 35px;
  float: right;
  padding-top: 15px;
  padding-right: 10px;
  color: white;
}

a.login:hover {
  cursor: pointer;
  color: lightgray;
}

.searchBar {
  height: 30px;
  width: 30%;
  border-radius: 5px;
  padding-left: 10px;
}

a.searchButton {
  color: gray;
  padding: 2px;
  margin-left: -35px;
  font-size: 20px;
  width: 32px;
  height: 25px;
}

.searchButton:hover {
  color: lightgray;
  cursor: pointer;
}

a.fa-bars {
  float: right;
  font-size: 40px;
  padding: 20px;
  color: white;
}

a.fa-bars:hover {
  cursor: pointer;
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .searchBar {
    width: 35%;
  }
}

@media screen and (max-width: 500px)
{
  a.logo {
    font-size: 18px;
  }

  a.login {
    font-size: 14px;
  }


}
