
div.header {
  background-image: url(../../../src/assets/tileable-midnight-blue-grunge-patterns-11.jpg);
  opacity: 1;
  padding-left: 10%;
  padding-right: 10%;
  height: 80px;
  font-weight: bold;
}

div.searchBox {
  background-image: url(../../../src/assets/tileable-midnight-blue-grunge-patterns-11.jpg);
  opacity: 1;
  height: 50px;
  padding: 10px;
  text-align: center;
}

a.logoTest {
  float: left;
  font-size: 50px;
  color: white;
}

a.logoTest:hover {
  cursor: pointer;
  color: lightgray;
}

img.logo {
  margin-top: -10px;
}

img.logo:hover {
  cursor: pointer;
}

a.login {
  font-size: 35px;
  float: right;
  padding-top: 15px;
  padding-right: 10px;
  color: white;
}

a.login:hover {
  cursor: pointer;
  color: lightgray;
}

a.navLinks {
  font-size: 35px;
  float: right;
  padding-top: 15px;
  padding-right: 30px;
  color: white;
}

a.navLinks:hover {
    cursor: pointer;
    color: lightgray;
}

.searchBar {
  float: left;
  margin-top: 20px;
  height: 40px;
  width: 40%;
  margin-left: 20px;
  border-radius: 5px;
  padding-left: 10px;
}

a.searchButton {
  color: gray;
  padding: 2px;
  margin-left: -35px;
  font-size: 20px;
  width: 32px;
  height: 25px;
}

.searchButton:hover {
  color: lightgray;
  cursor: pointer;
}

a.fa-bars {
  float: right;
  font-size: 40px;
  padding-top: 20px;
  padding-left: 30px;
  color: white;
}

a.fa-bars:hover {
  cursor: pointer;
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  .searchBar {
    width: 20%;
  }

}

@media screen and (max-width: 500px)
{
  a.logo {
    font-size: 18px;
  }

  a.login {
    font-size: 14px;
  }


}
