
<div class="top-box">

    <!-- Logo -->
    <img src={{dataservice.logo_Image}} height="100" (click)="GoToHome()" class="logo-img"/>

    <!-- Toggles  -->
    <a (click)="toggleMenu()" class="fa fa-bars" *ngIf="logdIn"></a>
    <a (click)="toggleLogin()" class="login-a">{{dataservice.activeUser}}</a>

    <!-- Components -->
    <app-menu [@slideInOutLeftRight]="dataservice.slideInOutLeftRight"></app-menu>
    <app-login *ngIf="!loggedIn" [@slideInOutUpDown]="dataservice.slideInOutUpDown"></app-login>
     
</div>

<div class="search-div">
  <!-- Search -->
  <input class="search-card-input" [(ngModel)]="dataservice.searchCardName" (keyup.enter)="search()" type="text" placeholder="Search Card" />
  <hr />
</div>
