div.header {
  background-color: gray;
  padding-left: 10%;
  height: 80px;
  
}

div.searchBox {
  background: lightgray;
  height: 50px;
  padding: 10px;
  text-align: center;
}

a.logo {
  font-size: 50px;
  float: left;
  color: white;
}

  a.logo:hover {
    cursor: pointer;
    color: lightgray;
  }

a.login {
  font-size: 35px;
  float: right;
  padding-top: 15px;
  padding-right: 10px;
  color: white;
}

    a.login:hover {
      cursor: pointer;
      color: lightgray;
    }

.searchBar {
  height: 30px;
  width: 30%;
  border-radius: 5px;
}

a.searchButton {
  color: gray;
  padding: 2px;
  margin-left: -35px;
  font-size: 20px;
  width: 32px;
  height: 25px;
}

.searchButton:hover {
  color: lightgray;
  cursor: pointer;
}

.hamburger {
  float: right;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;

  padding: 0;
  margin-top: 10px;
  width: 96px;
  height: 72px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
  margin-top: -10px;    
}


  .hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
    border-radius: 10px;
  }
  
    .hamburger span::before,
    .hamburger span::after {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: white;
      content: "";
      border-radius: 10px;
    }

    .hamburger span::before {
      top: -15px;
    }

    .hamburger span::after {
      bottom: -15px;
    }


@media screen and (max-width: 1200px) and (min-width: 800px) {
  .searchBar {
    width: 35%;
  }

  .searchButton {
  }
}

@media screen and (max-width: 500px)
{
  a.logo {
    font-size: 18px;
  }

  a.login {
    font-size: 14px;
  }


}
