<div class="main-div">

  <h2 class="center">ACS Device Page</h2>
  <hr />
  <div *ngIf="!connected">
    <h4 class="white">Your Devices:</h4>
    <h5 class="white">Click below on the Device you want to use</h5>
    <table class="list-table">
      <tr>
        <th>Device No.</th>
        <th>Connection String</th>
      </tr>
      <tr>
        <td>1</td>
        <td><a (click)="connectWithDevice()">{{device_string}}</a></td>
      </tr>
    </table>
  </div>

  <div *ngIf="connected">
    <button (click)="return()" class="selected-button">Return</button>
    <hr />

    <button (click)="start()" class="selected-button left"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;START</button>
    <button (click)="stop()" class="selected-button left"><i class="fa fa-stop" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;STOP</button>
    <p class="left feedback-text center font-size-30 margin-left-30">{{feedback_start}}</p>

    <div class="clear"></div>
    <div class="acc-image-div">
      <img src={{image_src}} class="fixed-img" />
    </div>
    <br />
    <table class="list-table-acc">
      <tr>
        <th><i class="fa fa-file-image-o fa-fw"></i></th>
        <th>Card Name</th>
        <th>Select Set</th>
        <th>Selected</th>
      </tr>
      <tr *ngFor="let items of cards;let i = index">
        <td><i class="fa fa-file-image-o fa-fw"></i><img src={{items.cardImage}} class="list-img"></td>
        <td class="confirm-td"><input class="confirm-input" type="text" [(ngModel)]="items.cardName"/></td>
        <td><a *ngFor="let item of items.cardSet" (click)="set_cardSet(item,i)"> <i class="ss ss-{{item}} ss-grad ss-2x"></i></a></td>
        <td><i class="ss ss-{{items.actualSet}} ss-grad ss-2x"></i>&nbsp;{{items.actualSet}}</td>
    <!--
        <td>
          <select  [(ngModel)]="items.actualSet">
            <option value="---">Select Set...</option>
            <option *ngFor="let item of items.cardSet" value={{item}}><p class="ss ss-{{items}} ss-grad ss-2x"></p>{{item}}</option>
           </select>
        </td>
        
        <td class="confirm-td"><button (click)="remove_Item(i)">remove</button></td>
        -->
      </tr>
    </table>
    <hr />
    <h5 class="white">Edit Card Names if Needed and select the Card Set for each Card</h5>
    <button (click)="POST_CardsToDB()" class="selected-button">Add to Haves</button>

  </div>
</div>
