<div class="main-div" (click)="closeMenu()">
 
   <h2 class="white">Latest Cards Added</h2>
 
  <div class="img-div" *ngIf="!imagesLoaded">     
    <img src="assets/LoadingGif3.gif" />
  </div>

  <div class="img-div" *ngIf="imagesLoaded">
    <img class="main-img" *ngFor="let items of cards" src={{items.imgBase64}} />
  </div>
  <hr />
  <div class="clear"></div>
  <!--
  <hr />
  <h2 class="main-h2">Themes:
    <a (click)="setTheme('Dark')">Dark</a> | <a (click)="setTheme('Default')">Light</a>
  </h2>
  <hr />
  -->
  <div class="panel-div left">
    <h2>News</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Set Released!</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Card X is going beyond expectations!</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Pay now with PayPal, easy and secure!</li>
    </ul>
  </div>

  <div class="panel-div left">
    <h2>Welcome to Cardstocks</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Trade directly with other Players</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Buy and Sell Cards for GG Credits</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Pay with Paypal</li>
    </ul>
  </div>

  <div class="panel-div left">
    <h2>New Releases</h2>
    <ul>
      <li align="center"><img class="graph-img" src="assets/LoadingGif4.gif" height="120"/></li>
    </ul>
  </div>

  <div class="clear"></div>

  <div class="panel-list-div left">
    <h2>Latest Cards Added</h2>
    <table class="list-table-center">
      <thead>
        <tr>
          <th class="boxViewHead">Card Name</th>
          <th class="boxViewHead">Card Set</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of cards">
          <td>{{items.cardName}}</td>
          <td>{{items.cardSet}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="panel-list-div left">
    <h2>Latest Buy Listings</h2>
    <table class="list-table-center">
      <thead>
        <tr>
          <th class="boxViewHead">Price</th>
          <th class="boxViewHead">Card Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of buyListings">
          <td><i class="fa fa-gg" aria-hidden="true"></i> {{items.buyPrice}}</td>
          <td>{{items.cardName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="panel-list-div left">
    <h2>Latest Sell Listings</h2>
    <table class="list-table-center">
      <thead>
        <tr>
          <th class="boxViewHead">Price</th>
          <th class="boxViewHead">Card Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of sellListings">
          <td><i class="fa fa-gg" aria-hidden="true"></i> {{items.sellPrice}}</td>
          <td>{{items.cardName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

