.newsContainer {
  padding-top: 50px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 45px;
}

.newsHeader {
  text-align: left;
  color: black;
}

.newsText {
}

.newestCards {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.newestImg {
  padding-bottom: 20px;
  padding-right: 20px;
}

hr {
  height: 2px;
  background: gray;
}
