<div class="main-div" (click)="closeMenu()">

  <hr />
  <h2 class="main-h2">Themes:
    <a (click)="setTheme('Dark')">Dark</a> | <a (click)="setTheme('Default')">Light</a>
  </h2>
  <hr />
  
  <div class="panel-div left">
    <h2>News</h2>
    <ul>
      <li><i class="ss ss-tmp ss-mythic ss-grad ss-2x"></i> New Set Released!</li>
      <li><i class="ss ss-msp ss-rare ss-grad ss-2x"></i> Card X is going beyond expectations!</li>
      <li><i class="ss ss-sth ss-foil ss-grad ss-2x"></i> Pay now with iDeal!</li>
    </ul>
  </div>

  <div class="panel-div left">
    <h2>New Releases</h2>
    <ul>
      <li align="center"><img src="assets/NoImageFoundWide.png" height="120"/></li>
    </ul>
  </div>

  <div class="panel-div left">
    <h2>Welcome to Cardstocks</h2>
    <ul>
      <li><i class="fa fa-exchange" aria-hidden="true"></i> Trade directly with other Players</li>
      <li><i class="fa fa-money" aria-hidden="true"></i> Sell your Cards for Store Credit or Cash</li>
      <li><i class="fa fa-cc" aria-hidden="true"></i> Pay with Paypal, Creditcard, Bank transfer, iDeal</li>
    </ul>
  </div>

  <div class="clear"></div>
  
  <table class="main-table left">
    <thead>
      <tr>
        <th class="boxViewHead"></th>
        <th class="boxViewHead">Highest Gain</th>
        <th class="boxViewHead"></th>
      </tr>
      <tr>
        <th class="boxViewHead">Price</th>
        <th class="boxViewHead">Name</th>
        <th class="boxViewHead">Expansion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of cards">
        <td class="green-text"><i class="fa fa-arrow-up" aria-hidden="true"></i> $14.59</td>
        <td>{{items.cardName}}</td>
        <td>{{items.cardSet}}</td>     
      </tr>
    </tbody>
  </table>

  <table class="main-table left">
    <thead>
      <tr>
        <th class="boxViewHead"></th>
        <th class="boxViewHead">Highest Loss</th>
        <th class="boxViewHead"></th>
      </tr>
      <tr>
        <th class="boxViewHead">Price</th>
        <th class="boxViewHead">Name</th>
        <th class="boxViewHead">Expansion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of cards">
        <td class="red-text"><i class="fa fa-arrow-down" aria-hidden="true"></i> $9.27</td>
        <td>{{items.cardName}}</td>
        <td>{{items.cardSet}}</td>
      </tr>
    </tbody>
  </table>

  <table class="main-table left">
    <thead>
      <tr>
        <th class="boxViewHead"></th>
        <th class="boxViewHead">Latest added Sell Listings</th>
        <th class="boxViewHead"></th>
      </tr>
      <tr>
        <th class="boxViewHead">Price</th>
        <th class="boxViewHead">Name</th>
        <th class="boxViewHead">Expansion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of cards">
        <td>$23.27</td>
        <td>{{items.cardName}}</td>
        <td>{{items.cardSet}}</td>
      </tr>
    </tbody>
  </table>

  <div class="clear"></div>

  <div class="img-div">
    <h2 class="main-h2">Latest Cards added</h2>
    <img class="main-img" *ngFor="let items of cards" src={{items.imgBase64}} />
  </div>
  <div class="clear"></div>
  <hr />

</div>

