.clear {
  clear: both;
}

.newsContainer {
  padding-top: 50px;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 45px;
  font-family: 'Arvo', serif;
}

.newsHeader {
  text-align: left;
  color: black;
  font-family: 'Arvo', serif;
}

.newsText {
  float: left;
  width: 40%;
  margin-left: 10%;
  font-family: 'Arvo', serif;
}

.newsImg {
  float: left;
  width: 40%;
}

.newestCards {
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Arvo', serif;
}

.newestImg {
  padding-bottom: 20px;
  padding-right: 20px;
}

hr {
  height: 2px;
  background: gray;
}
