<div class="newsContainer">
  <h2 class="newsHeader">News</h2>
  <hr />
  <img class="newestImg" src="http://via.placeholder.com/500x300" />

  <p class="newsText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at purus a leo tempus dignissim. Donec sed magna at felis rutrum blandit. Nullam cursus vulputate sapien laoreet aliquam. Pellentesque sollicitudin placerat tellus nec scelerisque. In aliquet imperdiet fermentum. Mauris ut nisl in dolor pellentesque fermentum id interdum lectus. Nam porttitor scelerisque dui, eu tincidunt elit posuere ac. Sed feugiat velit in justo luctus sollicitudin. Vestibulum ipsum leo, congue vitae mi id, auctor consectetur est.
    <br />
    <br />
    Quisque mattis neque justo, vel pharetra elit congue pellentesque. Integer volutpat tortor et massa venenatis rutrum in et neque. Nam tincidunt suscipit faucibus. Aenean blandit ut est a pharetra. Phasellus accumsan placerat nunc ut tincidunt. Vivamus laoreet ante non est lobortis lobortis. Nam semper, mi consequat dignissim dignissim, purus leo faucibus nisi, egestas porta ex nunc non elit. Nulla nec dapibus purus, ac lacinia mauris. Morbi volutpat eu nulla sit amet lacinia.
  </p>
</div>

<div class="newsContainer">
  <h2 class="newsHeader">Newest Cards</h2>
  <hr />
  <img class="newestImg" src="http://via.placeholder.com/200x300" />
  <img class="newestImg" src="http://via.placeholder.com/200x300" />
  <img class="newestImg" src="http://via.placeholder.com/200x300" />
  <img class="newestImg" src="http://via.placeholder.com/200x300" />
  <img class="newestImg" src="http://via.placeholder.com/200x300" />
</div> 
