<div class="form-div" *ngIf="addBuyListing">
  <h2 class="center white">Fill in the form:</h2>
  <input class="form-input" type="text" [(ngModel)]="cardName" placeholder="Name" />
  <input class="form-input" type="text" [(ngModel)]="cardSet" placeholder="Set" />
  <input class="form-input" type="text" [(ngModel)]="cardCondition" placeholder="Condition" />
  <input class="form-input" type="text" [(ngModel)]="cardPrice" placeholder="Price" />
  <br /><br />
  <button class="selected-button margin-left-30" (click)="addBuy()">Add</button>
</div>

<div class="main-div" (click)="closeMenu()">
  <h2 class="white">Buy Listings</h2>
    <button class="selected-button left" (click)="toggleAdd()"><i class="fa fa-plus">
        </i>&nbsp;Add Buy Listing</button>
  <select (change)="searchChange($event.target.value)">
      <option value="name">Card Name</option>
      <option value="set">Card Set</option>
      <option value="condition">Card Condition</option>
    </select>
    <input class="selected-input" type="text" placeholder="Search" (keyup.enter)="search()" [(ngModel)]="searchObject"/>
  <br />
  <br />
    <table class="list-table-center">
      <thead>
        <tr>
          <th></th>
          <th>Buyer:</th>
          <th>Buyers Rating:</th>
          <th>Card Name:</th>
          <th>Card Set:</th>
          <th>Condition:</th>
          <th>Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of buyListings; let i = index" [attr.data-index]="i">
          <td class="center"><button class="table-button" (click)="buyCard(items.buyId)">Sell</button></td>
          <td>{{items.userName}}</td>
          <td>{{items.userRating}}</td>
          <td>{{items.cardName}}</td>
          <td>{{items.cardSet}}</td>
          <td>{{items.cardCondition}}</td>
          <td><i class="fa fa-gg" aria-hidden="true"></i> {{items.buyPrice}}</td>          
        </tr>
      </tbody>
    </table>
  
</div>
