<div class="main-div">
  <h2>Transactions</h2>
  <button class="selected-button left">Completed</button>
  <button class="selected-button left">Pending</button>
  <button class="selected-button left">Failed</button>
  <br />
  <br />
  <table class="list-table-center">
    <thead>
      <tr>
        <th>Status</th>
        <th>Trader</th>
        <th>Card Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="GoToOrder()">
        <td>completed</td>
        <td>auro</td>
        <td>Aeronaut Tinkerer</td>
        <td>$ 8.71</td>
      </tr>
      <tr>
        <td>pending</td>
        <td>auro</td>
        <td>Aeronaut Tinkerer</td>
        <td>$ 8.71</td>
      </tr>
    </tbody>
  </table>
</div>
