@media only screen and (min-width: 1200px) {
  /* Navbar */
input.search-card-input {
  margin-top: 25px;
  height: 30px;
  padding-left: 10px;
}

  /* Homepage */
  img.main-img {
    margin: .2%;
    width: 9.6%;
    height: auto;
  }

  div.panel-div h2 {
    font-size: 28px;
  }

   div.panel-div {
    font-size:16px;
    font-weight: normal;
  }

    div.panel-div h2 {
      font-size: 24px;
    }

  img.graph-img {
    width: 200px;
    height: 150px;
  }

}
