/* You can add global styles to this file, and also import other style files */
@import url("CSS/320.css");
@import url("CSS/480.css");
@import url("CSS/768.css");
@import url("CSS/992.css");
@import url("CSS/1200.css"); 

:root {
  --primary-text-color: white;
  --primary-color: black;
  --secondary-text-color: black;
  --primary-bg-color: black;
  --secondary-bg-color: white;
  --scale: 2;
  --scale-two: 2;
}

/* General */
/*
img {
  /* Firefox 
  -moz-transform: rotate(90deg);
  /* Safari and Chrome 
  -webkit-transform: rotate(90deg);
  /* Opera 
  -o-transform: rotate(90deg);
  /* IE9 
  -ms-transform: rotate(90deg);
}
*/

.fixed-width {
  width: 100px;
}

img.center-img{
  margin-left: 30%;
}

input {
  border-radius: 5px;
  padding-left: 10px;
  width: 250px;
}


.center {
  text-align: center;
}
.white { color: white; }
.green-text { color:green;}
.red-text { color: red; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
ul { padding-left: 0px; list-style: none; }
ul li { padding-left: 10px; }
a:hover { cursor: pointer; }
button {
  font-size: 20px;
  margin-left: 30%;
  margin-top: 20px;
  display: block;
  border-width: 5px;
  border-radius: 10px;
  background: var(--secondary-bg-color);
  color: gray;
  padding: 0px 5px 0px 5px;
}
div.main-div {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.black-box {
  border-color: black;
  background: white;
}

.invert-black-box {
  border-color: white;
  background: black;
}

.blue-box {
  border-color: blue;
  background: white;
}

div.form-div {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: lightgray;
}

/* applies to homepage table */
tr:nth-child(even) td{
  background: lightgray;
}

tr:last-child td {
  border-bottom: solid;
  border-color: var(--primary-color);
}

th {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: var(--secondary-bg-color);
  background: var(--primary-bg-color);

  border-bottom-style: double;
  border-bottom-width: 2px;
  border-bottom-color: gray;
}

td {
  border-right: solid;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 14px;
  padding-left: 10px;
  color: var(--secondary-text-color);
}

/* Menu */
li.header-li {
  border-bottom: solid;
  border-width:1px;
  border-color: lightgray;
}

div.theme-div {
  margin-left: 20px;
  margin-top: 20px;
}

p.square {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

/* Navbar */
html body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: var(--secondary-bg-color); /*url(assets/gplaypattern/gplaypattern.png);*/
}

div.top-box {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  width: 100%;
  height: 50px;
  box-shadow: -2px 2px 20px var(--primary-bg-color);
}

img.logo-img {
  float: left;
  margin-left: 1%;
  height: 40px;
}

img.logo-img:hover {
  cursor: pointer;
}

a.outline {
  width: 40px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
  border-width: 1px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

a.outline:hover {
  color: var(--secondary-text-color);
  background: lightgray;
  color: black;
}

i.fa-bars {
  color:inherit;
}

i.fa-bars:hover {
  color: black;
}


a.login-a {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
  padding: 1px 8px 1px 8px;
  margin-right: 2%;
  margin-top: 8px;
  font-size: 20px;
}

a.login-a:hover {
  background: gray;
}

a.credit-a {
  font-size: 24px;
  margin-top: 10px;
  margin-right: 2%;
}

div.search-div {
  width: 100%;
  margin-bottom: 20px;
}

input.search-card-input {
  margin-top: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 30px;
}

/* Membership page */
div.panel-div-large {
  height: 500px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 1%;
  width: 23%;
  color: var(--secondary-text-color);
  box-shadow: 5px 5px 10px gray; /* x , y , opacity/brush effect , color*/
  font-weight: bold;
  margin-bottom: 20px;
}

div.panel-div-large h2 {
  color: var(--primary-text-color);
  text-align: center;
  background: var(--primary-bg-color);
}



/* Homepage */
h2.main-h2 {
  color: var(--secondary-text-color);
}

div.panel-div {
  height: 170px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  margin: 1.5%;
  width: 30%;
  color: var(--secondary-text-color);
  box-shadow: 5px 5px 10px gray; /* x , y , opacity/brush effect , color*/
  font-weight: bold;
  margin-bottom: 20px;
}

div.panel-div h2 {
  color: var(--primary-text-color);
  text-align: center;
  background: var(--primary-bg-color);
}

img.main-img {
  image-orientation: from-image;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
}

img.main-img:hover {
    -webkit-transform: scale(var(--scale));
    -moz-transform: scale(var(--scale));
    -ms-transform: scale(var(--scale));
    -o-transform: scale(var(--scale));
    transform: scale(var(--scale));
    cursor: pointer;
}

table.main-table {
  border-collapse: separate;
  border: solid var(--primary-color) 2px;
  border-spacing: 0;
  border-radius: 8px;
  padding: 1px;
  width: 30%;
  margin: 1.5%;
  text-align: left;
}

/* Login */

div.login-div {
  background: var(--secondary-bg-color);
  height: 200px;
  border: solid;
  border-width: 4px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  color: var(--primary--text-color);
  box-shadow: 5px 5px 10px gray; /* x , y , opacity/brush effect , color*/
  margin-bottom: 20px;
}

input.form-input {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  border-radius: 5px;
  padding-left: 10px;
}

button.login-button 
{
  font-size: 20px;
  margin-left: 30%;
  margin-top: 20px;
  display: block;
  border-width: 5px;
  border-radius: 10px;
  background: var(--secondary-bg-color);
  color: gray;
  padding: 0px 5px 0px 5px;
}

p.login-p {
  margin-left: 30%;
  color: gray;
}

div.login-div a.login-a2 {
  color: blue;
}

div.login-div a.login-a2:hover {
  color: var(--primary-text-color);
}

div.login-div h2 {
  color: var(--primary-text-color);
  text-align: center;
  background: var(--primary-bg-color);
  border-radius: 5px;
  font-size: 44px;
  height: 60px;
}

/* Collection */
img.tileImg {
  image-orientation: from-image;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 2px;
  box-shadow: 5px 5px 10px gray;
  margin: .2%;
  width: 9.6%;
  height: auto;
}

img.tileImg:hover {
  -webkit-transform: scale(var(--scale-two));
  -moz-transform: scale(var(--scale-two));
  -ms-transform: scale(var(--scale-two));
  -o-transform: scale(var(--scale-two));
  transform: scale(var(--scale-two));
  cursor: pointer;
}

a.fa-list {
  font-size: 28px;
  padding: 2px;
}

a.fa-th-large {
  font-size: 28px;
  padding: 2px;
}

i.fa-plus-square {
  font-size: 24px;
}

a.plusSquare {
  font-size: 22px;
}

/* Listings */
table.list-table {
  border-collapse: separate;
  border: solid var(--primary-color) 2px;
  border-spacing: 0;
  border-radius: 8px;
  padding: 1px;
  width: 49.9%;
}

table.list-table-center {
  border-collapse: separate;
  border: solid var(--primary-color) 2px;
  border-spacing: 0;
  border-radius: 8px;
  padding: 1px;
  width: 100%;
}

table.list-table-center-small {
  border-collapse: separate;
  border: solid var(--primary-color) 2px;
  border-spacing: 0;
  border-radius: 8px;
  padding: 1px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

table.list-table-center-small tr:nth-child(even) td {
  background: white;
}

/* Upload */
button.option-button {
  color: white;
  background: lightgray;
  font-size: 50px;
  border-width: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
}

/* Detail page */
img.detail-img {
  margin-left: 10%;
}

/* Sell/Buy */
a.selected-a {
  padding: 5px 10px 5px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

a.selected-a:hover {
  color: white;
  background: lightgray;
}

