
<div class="form-div">
  <h2 class="white center">Fill in the Register Form below:</h2>
  <input class="form-input" type="text" [(ngModel)]="username" placeholder="username">
  <input class="form-input" type="password" [(ngModel)]="password" placeholder="password">
  <input class="form-input" type="password" [(ngModel)]="confirm" placeholder="confirm password">
  <input  class="form-input"type="text" [(ngModel)]="email" placeholder="email">
  <button (click)="SendRegister()" class="login-button">Send <i class="fa fa-chevron-right"></i></button>
  <p class="center">already have an account? Click login in the top right</p>
</div>
