<div>
  <ul>
    <li>
      <a class="fa fa-shopping-cart navLinks" aria-hidden="true" (click)="GoToShoppingCart()">&nbsp;&nbsp;&nbsp;Cart</a>
    </li>
    <!--
    <li>
      <a class="fa fa-money navLinks" aria-hidden="true" (click)="GoToSell()">&nbsp;&nbsp;&nbsp;Sell</a>
    </li>
        -->
    <li>
      <a class="fa fa-money navLinks" aria-hidden="true" (click)="GoToBuy()">&nbsp;&nbsp;&nbsp;Buy</a>
    </li>
    <!--
    <li>
      <p>After Login:</p>
    </li>
        -->
    <li>
      <a class="fa fa-user navLinks" aria-hidden="true">&nbsp;&nbsp;&nbsp;Account</a>
    </li>
    <li>
      <a class="fa fa-book navLinks" aria-hidden="true" (click)="GoToCollection()">&nbsp;&nbsp;&nbsp;Collection</a>
    </li>
    <li>
      <a class="fa fa-list navLinks" aria-hidden="true" (click)="GoToWishlist()">&nbsp;&nbsp;&nbsp;Wishlist</a>
    </li>
    <li>
      <a class="fa fa-list navLinks" aria-hidden="true" (click)="GoToListings()">&nbsp;&nbsp;&nbsp;Listings</a>
    </li>
    <li>
      <a class="fa fa-upload navLinks" aria-hidden="true" (click)="GoToUpload()">&nbsp;&nbsp;&nbsp;Upload</a>
    </li>
    <li>
      <a class="fa fa-cog navLinks" aria-hidden="true">&nbsp;&nbsp;&nbsp;Settings</a>
    </li>
  </ul>
</div>

