<div>
  <ul>
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToShoppingCart()"><p class="fa fa-shopping-cart">
           </p>&nbsp;&nbsp;&nbsp;Cart</a>
    </li>
    <!--
    <li>
      <a class="fa fa-money navLinks" aria-hidden="true" (click)="GoToSell()">&nbsp;&nbsp;&nbsp;Sell</a>
    </li>
        -->
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToBuy()"><p class="fa fa-money">
             </p>&nbsp;&nbsp;&nbsp;Buy</a>
    </li>
    <!--
    <li>
      <p>After Login:</p>
    </li>
        -->
    <li>
      <a class="navLinks" aria-hidden="true"><p class="fa fa-user">
            </p>&nbsp;&nbsp;&nbsp;Account</a>
    </li>
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToCollection()"><p class="fa fa-book">
             </p>&nbsp;&nbsp;&nbsp;Collection</a>
    </li>
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToWishlist()"><p class="fa fa-list">
             </p>&nbsp;&nbsp;&nbsp;Wishlist</a>
    </li>
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToListings()"><p class="fa fa-list">
             </p>&nbsp;&nbsp;&nbsp;Listings</a>
    </li>
    <li>
      <a class="navLinks" aria-hidden="true" (click)="GoToUpload()"><p class="fa fa-upload">
             </p>&nbsp;&nbsp;&nbsp;Upload</a>
    </li>
    <li>
      <a class="navLinks" aria-hidden="true"><p class="fa fa-cog">
            </p>&nbsp;&nbsp;&nbsp;Settings</a>
    </li>
  </ul>
</div>

