<body (click)="closeMenu()">
<div class="box" id="boxDiv">
  <a class="fa fa-plus-square addBuyButton">&nbsp;Buy Card</a>
  <a class="fa fa-plus-square addSellButton">&nbsp;Sell Card</a>
  <div class="clear"></div>
  <table class="sellTable">
    <thead>
      <tr>
        <th>Selling:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of SellListings">
        <td>{{items.cardName}}</td>
        <td>{{items.sellPrice}}</td>
        <td>
          <a class="editClick">Edit</a> | <a class="removeClick">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
    
  <table class="buyTable">
    <thead>
      <tr>
        <th>Buying:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemsBuy of BuyListing">
        <td>{{itemsBuy.cardName}}</td>
        <td>{{itemsBuy.buyPrice}}</td>
        <td><a class="editClick">Edit</a> | <a class="removeClick">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>
  </body>
