<div class="form-div" *ngIf="editingListing">
  <h2 class="center">Edit Listing:</h2>
  <input class="form-input" type="text" [(ngModel)]="editCardName"/>
  <input class="form-input" type="text" [(ngModel)]="editBuySet" />
  <input class="form-input" type="text" [(ngModel)]="editBuyCondition" />
  <input class="form-input" type="number" [(ngModel)]="editCardPrice" />
  <br />
  <br />
  <button class="selected-button margin-left-30" (click)="confirmEdit()">Confirm Edit</button>
</div>

<div class="main-div" (click)="closeMenu()">
  <h2>My Listings</h2>

  <div class="clear"></div>
  <table class="list-table left">
    <thead>
      <tr>
        <th>Selling:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of SellListing">
        <td>{{items.cardName}}</td>
        <td>$ {{items.sellPrice}}</td>
        <td>
          <a (click)="editSellListing(items.sellId)">Edit</a> | <a (click)="RemoveFromSellList(items.sellId)">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
    
  <table class="list-table right">
    <thead>
      <tr>
        <th>Buying:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of BuyListing">
        <td>{{items.cardName}}</td>
        <td>$ {{items.buyPrice}}</td>
        <td><a (click)="editBuyListing(items.buyId)">Edit</a> | <a (click)="RemoveFromBuyList(items.buyId)">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>
