<div class="box">
  <a class="fa fa-plus-square addBuyButton">&nbsp;Buy Card</a>
  <a class="fa fa-plus-square addSellButton">&nbsp;Sell Card</a>
  <div class="clear"></div>
  <table class="sellTable">
    <thead>
      <tr>
        <th>Selling:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Card X</td>
        <td>$ 3.14</td>
        <td><a class="editClick">Edit</a> | <a class="removeClick">Remove</a></td>
      </tr>
    </tbody>
  </table>

  
  <table class="buyTable">
    <thead>
      <tr>
        <th>Buying:</th>
        <th>Price:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Card X</td>
        <td>$4.59</td>
        <td><a class="editClick">Edit</a> | <a class="removeClick">Remove</a></td>
      </tr>
    </tbody>
  </table>
</div>
