<div class="main-div">

  <h1 class="white">Credits</h1>
  <h5 class="white">You can Buy Credits here or earn them by Trading</h5>
  <hr />
  <div class="panel-div-small left">
    <h2><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;10</h2>
    <div class="center" id="paypal-button1"></div>
  </div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;25</h2>
    <div class="center" id="paypal-button2"></div>
</div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;50</h2>
    <div class="center" id="paypal-button3"></div>
  </div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-eur" aria-hidden="true"></i>&nbsp;100</h2>
    <div class="center" id="paypal-button4"></div>
  </div>  
 </div>

