<div class="main-div">

  <h2 class="white">Buy GG Credits</h2>

  <div class="panel-div-small left">
    <h2><i class="fa fa-gg" aria-hidden="true"></i>&nbsp;10</h2>
    <div class="center" id="paypal-button1"></div>
  </div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-gg" aria-hidden="true"></i>&nbsp;25</h2>
    <div class="center" id="paypal-button2"></div>
</div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-gg" aria-hidden="true"></i>&nbsp;50</h2>
    <div class="center" id="paypal-button3"></div>
  </div>
  <div class="panel-div-small left">
    <h2><i class="fa fa-gg" aria-hidden="true"></i>&nbsp;100</h2>
    <div class="center" id="paypal-button4"></div>
  </div>  
 </div>

