<div class="main-div" (click)="closeMenu()">

  <div class="panel-div-large left">
    <h2>Common</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Add up to 20 Cards in your Wants</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Store up to 200 Cards in your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Can have up to 10 Active Listings</li>    
    </ul>
    <button (click)="upgradeTo('Common')" class="panel-button">Free</button>
  </div>

  <div class="panel-div-large left">
    <h2>Uncommon</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Add up to 50 Cards in your Wants</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Store up to 1000 Cards in your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Can have up to 25 Active Listings</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Export Functionality for your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Special Mobile Functionality</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Sort your Haves in Collections</li>
    </ul>
    <button (click)="upgradeTo('Uncommon')" class="panel-button">$ 2.49 p/m</button>
  </div>

  <div class="panel-div-large left">
    <h2>Rare</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Add up to 100 Cards in your Wants</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Store up to 5000 Cards in your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Unlimited Active Listings</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Export Functionality for your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Special Mobile Functionality</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Sort your Haves in Collections</li>
    </ul>
    <button (click)="upgradeTo('Rare')" class="panel-button">$ 4.99 p/m</button>
  </div>

  <div class="panel-div-large left">
    <h2>Mythic</h2>
    <ul>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Add up to 500 Cards in your Wants</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Store unlimited Cards in your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Unlimited Active Listings</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Export Functionality for your Haves</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Special Mobile Functionality</li>
      <li><i class="fa fa-gg-circle" aria-hidden="true"></i>&nbsp;Sort your Haves in Collections</li>
    </ul>
    <button (click)="upgradeTo('Mythic')" class="panel-button">$ 9.99 p/m</button>
  </div>

</div>
