<div class="main-div" (click)="closeMenu()">
  <div class="panel-div-large left">
    <h2>Timmy</h2>
    <ul>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Track up to 20 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Digitalize up to 200 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Max Deposit of $ 50,-</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Max Listings: 20</li>
    </ul>
  </div>

  <div class="panel-div-large left">
    <h2>Bronze</h2>
    <ul>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Track up to 50 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Digitalize up to 2000 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Max Deposit of $ 150,-</li>
      <li><i class="fa fa-gg-circle fa-fw fa-2x" aria-hidden="true"></i>Max Listings: 100</li>
    </ul>
  </div>

  <div class="panel-div-large left">
    <h2>Silver</h2>
    <ul>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Track up to 100 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Digitalize up to 10000 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Max Deposit of $ 250,-</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Max Listings: unlimited</li>
    </ul>
  </div>

  <div class="panel-div-large left">
    <h2>Gold</h2>
    <ul>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Track up to 500 Cards</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Digitalize up to unlimited Cards</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Max Deposit of unlimited</li>
      <li><i class="fa fa-gg-circle fa-fw" aria-hidden="true"></i>Max Listings: unlimited</li>
    </ul>
  </div>
</div>
