<div class="main-div" (click)="closeMenu()">
  <h1>Welcome {{username}}</h1>
  <p>{{dataservice.membership}}-Member</p>

    <h2>Tracking (2/20)</h2>
    <table class="list-table left">
      <thead>
        <tr>
          <th></th>
          <th>Card Name:</th>
          <th>Lowest Price Sold:</th>
          <th>Target Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Selling</td>
          <td>---</td>
          <td>$ 0.00</td>
          <td>$ 0.00</td>
        </tr>
      </tbody>
    </table>
    
    <table class="list-table right">
      <thead>
        <tr>
          <th></th>
          <th>Card Name:</th>
          <th>Lowest Price for Sale:</th>
          <th>Target Price:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Buying</td>
          <td>---</td>
          <td>$ 0.00</td>
          <td>$ 0.00</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="clear"></div>
<hr />
<app-transactions></app-transactions>
